<mat-toolbar color="primary">
	<mat-toolbar-row>
		<img [src]="logo" height="50px"/>
		<span fxFlex></span>
		<button mat-button [matMenuTriggerFor]="menu">
    <span class="flag-icon {{currentLanguage.flag}} mr-05"></span>
    <span>{{currentLanguage.name}}</span>
  </button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item *ngFor="let lang of availableLanguages" (click)="setLang(lang)">
        <span class="flag-icon mr-05 {{lang.flag}}"></span>
        <span>{{lang.name}}</span>
  </button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>