@import '~@angular/material/theming';

@include mat-core();


$md-mcgpalette0: (
    50 : #eaeaeb,
    100 : #cacace,
    200 : #a6a7ae,
    300 : #82848d,
    400 : #686974,
    500 : #4d4f5c,
    600 : #464854,
    700 : #3d3f4a,
    800 : #343641,
    900 : #252630,
    A100 : #7f8bfc,
    A200 : #4d5dfb,
    A400 : #162dff,
    A700 : #0019fc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



.hr-theme{
$primary: mat-palette($md-mcgpalette0);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
}

// Our dark theme
.web-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-grey);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}