<mat-toolbar color="primary" class="mat-elevation-z1">
	<mat-toolbar-row>
		<img [attr.src]="logo" height="50px" />
		<span fxFlex></span>
			<ng-content select=".addition-items-prepend"></ng-content>
			<button mat-button [matMenuTriggerFor]="menu">
      <span class="flag-icon {{ currentLanguage.flag }} mr-05"></span>
      <span>{{ currentLanguage.name }}</span>
    </button>
			<mat-menu #menu="matMenu">
				<button
        mat-menu-item
        *ngFor="let lang of availableLanguages"
        (click)="setLang(lang)"
      >
        <span class="flag-icon mr-05 {{ lang.flag }}"></span>
        <span>{{ lang.name }}</span>
      </button>
			</mat-menu>
			<ng-content select=".addition-items-append"></ng-content>
     
	</mat-toolbar-row>
</mat-toolbar>