<!-- <mat-sidenav-container>

	<mat-sidenav #sidenav mode="over">

		<mat-toolbar>
			<mat-toolbar-row>
				<h2> {{ 'APP_TOOLBAR_TITLE' | translate }} </h2>
			</mat-toolbar-row>
		</mat-toolbar>

		<mat-nav-list>

			<h2 matSubheader> {{ 'MY_WORK' | translate }} </h2>

			<a *ngFor="let item of myWorkRoutes" mat-list-item (click)="sidenav.close()" [routerLink]="[item.route]"
				routerLinkActive="list-item-active">
				<mat-icon matListIcon> {{ item.icon }} </mat-icon>
				{{item.title}}
			</a>

			<mat-divider></mat-divider>


		</mat-nav-list>

	</mat-sidenav>

	<mat-sidenav-content>
		<crm-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="sidenav.toggle()">
		</crm-navigation-bar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>

</mat-sidenav-container> -->
