@import "~@angular/material/theming";
@import "./_mixins.scss";

@include mat-core();

.hr-theme {
  $hr-theme-primary: mat-palette($mat-purple, 100);
  $hr-theme-accent: mat-palette($mat-pink, A200, A100, A400);
  $hr-theme-warn: mat-palette($mat-red);
  $hr-theme: mat-light-theme(
    $hr-theme-primary,
    $hr-theme-accent,
    $hr-theme-warn
  );
  @include angular-material-theme($hr-theme);


.mat-sidenav {
  width: 360px;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($hr-theme);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}


}

// Our dark theme
.web-theme {
  $web-theme-primary: mat-palette($mat-indigo, 400);
  $web-theme-accent: mat-palette($mat-pink, A200, A100, A400);
  $web-theme-warn: mat-palette($mat-red);
  $web-theme: mat-light-theme(
    $web-theme-primary,
    $web-theme-accent,
    $web-theme-warn
  );
  @include angular-material-theme($web-theme);

.mat-sidenav {
  width: 360px;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($web-theme);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}

}

@import "~flag-icon-css/css/flag-icon.min.css";
